body {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;

  color: #444;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

*[contenteditable="true"]:focus {
  background-color: #e5e5e5;

  border-radius: 15px;
  outline: none;
}

.msg {
  padding: 10px;
  background: #222;
  position: relative;
}

.msg h1 {
  color: #fff;
}

.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}

.msg a:hover {
  background: #266400;
}


#resume-container {
  padding: 1.3cm;
  display: block;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .2) .2rem .2rem 3rem .2rem;
  min-width: 21cm;
  max-width: 21cm;
  min-height: 29.7cm;
  max-height: 29.7cm;
  box-sizing: border-box;
  margin-bottom: 1cm;
  word-break: break-word;
  page-break-after: always;
  line-height: normal;
  padding: 10px 80px;
}

.names {
  display: flex;
  flex-wrap: wrap;
}

.names h1:last-child {
  padding: 0 15px;
}

/* //-- header, body, footer -- */
#header {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}

#header h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#header .title {
  margin-bottom: 2rem;
}

#header h1,
#header h3 {
  margin: 0;
}

#main-container,
#footer {
  margin-bottom: 2em;
}

/* //-- footer -- */
#footer {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
}

#footer p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- core typography and style -- */
#header h1 {
  font-size: 48px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 152%;
}

h3,
h4 {
  font-size: 122%;
}

h1,
h2,
h3,
h4 {
  color: #333;
}

p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}

a {
  color: #990003;
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}

p.enlarge {
  font-size: 100%;
  padding-right: 6.5em;
  line-height: 24px;
}

p.enlarge span {
  color: #000;
}

.contact-info {
  width: 85%;
  margin-top: 7px;
}

.contact-info p {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.contact-info a {
  width: 70%;
}

.title h2 {
  font-style: italic;
  margin: 1.2em 0;
  text-decoration: underline;
}


/* //-- section styles -- */

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  box-sizing: content-box;
}

.job:hover {
  border: 2px dashed #ccc;
  padding: 1px;

}

.position,
.timeline {
  font-weight: bold;
}

.job .job-desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job p {
  margin: 0.75em 0 1em 0;
}

.job h3,
h4 {
  margin: 6px 0;
}

.add-remove {
  color: white;
  list-style: none;
  width: fit-content;
  position: absolute;
  top: -2em;
  right: -1em;
  display: none;
}

.job:hover .add-remove{
  display: flex;
}

.remove,
.add {
  border-radius: 40px;
  width: 25px;
  height: 25px;
  text-align: center;
  font-weight: bolder;
  margin: 0 5px;
  cursor: pointer;
}

.remove {
  background-color: #ff0000;
}

.add {
  background-color: #3EBB56;
}